*.json
*/build/
/.vscode/
*.pyc
/build/
*~
.DS_Store
*.swp
.venv
.gdb_history
*/*.a
*/*.so

# IntelliJ IDEA
/.idea
**/*.iml
*.json
llvm_build_dirs

/llvm-project
/data
/patch
/pocs
/log/

/script/setenv.sh